
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('bg-shteratekmt.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: brightness(50%);
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 70px;
  margin-bottom: 15px;
}

#login-btn {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background-color: teal;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

#login-btn:hover {
  background-color: #006666;
}

.desc {
  font-size: 12px;
  margin-top: 15px;
  color: #666;
}
